name: Build PR

on: [pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Setup .NET
              uses: actions/setup-dotnet@v5
              with:
                  dotnet-version: |
                      8.0.x
                      9.0.x
                      10.0.x

            - name: Build
              run: dotnet build

            - name: Run tests
              run: dotnet test
